.header2{
    height:10rem;
    display: flex;
    justify-content: space-between;
    background-color:lightslategray;
    color: white;

    &__left{
        color: whitesmoke;

        &__title{
            color: whitesmoke;
        }
    }

    &__right{
        display: flex;
        justify-content: space-between;
        color: whitesmoke;

        &__items{
            color:whitesmoke;
        }
    }
    
}