.hero{
    background-color:whitesmoke;
    height:50rem;
    display: flex;
    justify-content:center;

     &__para {
         width: 50%; 
     }
    &__image{
        width: 15rem;
        border-radius: 1.15rem;

    }


}