.hero{
    background-color:whitesmoke;
    height:15rem;
    display: flex;
    justify-content:center;

     &__para {
         width: 50%; 
     }
    &__image{
        height: 10rem;
        width: 10rem;

    }


}